:root {
    --main-color: #022c22;
    --secondary-color: #6ee7b7;
    --third-color: #d1fae5;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: var(--secondary-color);
}

.sidebar {
    background-color: var(--main-color);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
    display: grid;
    grid-template-rows: 75px 1fr 2fr;
    gap: 50px 10px;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.logo > svg {
    width: 3rem;
    fill: white;
    place-self: center;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 50px;
    gap: 5px;
}

.nav > svg {
    width: 1.5rem;
    justify-self: center;
    fill: white;
}

.branding {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 50px;
    gap: 5px;
}

.branding > svg {
    width: 1.5rem;
    justify-self: center;
    fill: white;
}

.main {
    background-color: var(--third-color);
}