@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --main-color: #022c22;
    --secondary-color: #047857;
    --third-color: #d1fae5;
    --motive-color: #10b981;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

h1 {
    font-weight: 700;
}

h3, h4 {
    font-weight: 500;
}

svg {
    width: 1.5rem;
}

.header {
    background-color: var(--secondary-color);
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px 0;
    align-items: center;
}

.search {
    display: flex;
    gap: 15px;
}

.search > input {
    flex: 1;
    max-width: 600px;
    border-radius: 15px;
    border: none;
    height: 25px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
}

.welcome {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.welcome > .profile-picture {
    grid-row: 1 / 3;
    width: 60px;
    height: 60px;
}

.welcome > p:first-of-type {
    align-self: end;
    font-size: 14px;
}

.profile-picture {
    background-image: url(./img/profile-picture.png);
    background-size: contain;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.upload {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.upload > button {
    background-color: var(--main-color);
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
}

.sidebar {
    background-color: var(--main-color);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
    display: grid;
    grid-template-rows: 75px 1fr 2fr;
    gap: 50px 10px;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.logo > svg {
    width: 3rem;
    fill: white;
    place-self: center;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 50px;
    gap: 5px;
}

.nav > svg {
    justify-self: center;
    fill: white;
}

.branding {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 50px;
    gap: 5px;
}

.branding > svg {
    justify-self: center;
    fill: white;
}

.main {
    background-color: var(--third-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    padding: 30px 50px;
}

.projects {
    grid-row: 1 / 3;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 10px;
}

.card {
    display: grid;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--motive-color);
    box-shadow: 0 0 15px 1px var(--main-color);
}

.Description > p {
    font-size: 14px;
}

.controls {
    place-self: end;
    display: flex;
    gap: 10px;
}

.announcments {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.info {
    margin-top: 10px;
    padding: 20px;
    display: grid;
    gap: 5px;
    background-color: var(--motive-color);
    border-radius: 5px;
    box-shadow: 0 0 15px 1px var(--main-color);
}

.info p {
    font-size: 12px;
}

.info > hr {
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}

.trending-profiles {
    margin-top: 10px;
    display: grid;
    gap: 20px;
    background-color: var(--motive-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px var(--main-color);
}

.profile {
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}

.trending-profile {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 50px;
    height: 50px;
    background-image: url(./img/profile-picture.png);
    background-size: contain;
    border-radius: 50%;
}

.profile > p {
    font-size: 16px;
}

.profile > p:first-of-type {
    align-self: end;
    font-weight: 600;
}